body{
    background-color: antiquewhite;
}

h1{
    padding: 5em 1 em;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 2em 10%;
}


.item{
 border-radius: 15px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Ajusta este valor para cambiar el tamaño de la foto */
  max-width: 400px; /* Tamaño máximo para que no sea demasiado grande */
  border-radius: 10px; /* Bordes redondeados para un toque más suave */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para darle un poco de profundidad */
}

.centro{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200%; /* Ajusta este valor para cambiar el tamaño de la foto */
  max-width: 500px; /* Tamaño máximo para que no sea demasiado grande */
  border-radius: 20px; /* Bordes redondeados para un toque más suave */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para darle un poco de profundidad */
}

.dark{
    background-color: rgb(12, 99, 157);
}

/* Estilo del botón */
.miBoton {
    background-color: rgb(81, 227, 227);
    color: rgb(6, 6, 6);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-content: center;
}

/* Cambio de color al pasar el cursor */

    

