
h1{
    color: brown;
}
ul{
display: flex;
list-style: none;
flex-direction: column;
align-items: center;
}
li{
    line-height: 2;
    color: rgb(12, 11, 11);
    margin: 10px 0;
}
.destacado {
   color:blue;
   font-size: 50px;
   font-weight: bolder; 
}


p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.5;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}
.sun-imagen {
width: 300px;
height: auto;
border: 2px solid #333;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 100px;
}

body {
    background-color: white;
    color:black;
    transition: background-color 0.5s, color 0.5s ;
    text-align: center;
    padding: 0;
}
.dark-mode{
    background-color: black;
    color: white; 
}
#toggleButton {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    color:rgb(222, 235, 235);
    background-color: rgb(41, 38, 38);
    
}